# Dependencias de Node
node_modules/

# Archivos de compilación de Next.js
.next/
out/

# Variables de entorno secretas (¡Muy importante!)
.env*.local
.env

# Archivos del sistema
.DS_Store
*.pem

# Prevenir subida accidental de AppData o cachés de Windows
%AppData%/
AppData/